@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* ----------------
header
------------------ */
#header {
  margin-top: 60px;
}
#header .site-title {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
}
#header .site-title a {
  display: block;
}

/* ----------------
mainvisual
----------------- */

#mainvisual {
  margin-bottom: 60px;
}

/* -------------------
index
---------------------- */

#index {
  background-color: #fff;
  padding: 30px 0 ;
  margin-bottom: 60px;
}
#index .index-list {
  margin-left: 20px;
}
#index .index-list li {
  margin-bottom: 20px;
}
#index .index-list li:last-child {
  margin-bottom: 0;
}

/* -------------------
detail
-------------------- */

#detail {
  margin-bottom: 100px;
}
#detail .content {
  display: flex;
}
#detail .content .img {
  width: 45%;
}
#detail .content .text {
  width: 55%;
  margin-left: 50px;
}
#detail .content .text .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
}
#detail .content .text dl {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dedede;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
#detail .content .text dl dt {
  width: 25%;
}
#detail .content .text dl dd {
  width: 75%;
}
#detail .content .text p {
  margin-bottom: 20px;
}
#detail .content .text .link{
  color: #333;
  display: inline-block;
}
#detail .content .text .link:hover {
  opacity: 0.8;
}

/* ------------------
footer
------------------- */

#footer {
  font-size: 0.65rem;
  padding: 15px 0;
}

/* ----------------------
responsive(tablet&sp)
------------------------ */

@media screen and (max-width: 1024px) {

  .container {
    padding: 0 15px;
  }
  .inner {
    padding: 0 30px;
  }
  #detail .content {
    flex-direction: column;
  }
  #detail .content .img,
  #detail .content .text {
    width: 100%;
}
  #detail .content .text {
    margin-left: 0;
    margin-top: 30px;
  }
}
